<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.narsingh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NARSINGH">
        <activity
            android:name=".scannerActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UpConstituency"
            android:exported="true" />
        <activity
            android:name=".Activities.AboutUs"
            android:exported="true" />
        <activity
            android:name=".Activities.ContactUs"
            android:exported="true" />
        <activity
            android:name=".Activities.MembersPage"
            android:exported="true" />
        <activity
            android:name=".Activities.QRcodeScannerActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.BecomeVolunteer"
            android:exported="true" />
        <activity
            android:name=".Activities.BecomeMember"
            android:exported="true" />
        <activity
            android:name=".Activities.GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>